In [1]:
import mysql.connector

# The credentials to the server

DB cluster identifier: database-1

username: admin

password: 12345678

host: 

port: 3306

following the guide from: https://er-kalpanasharma.medium.com/creating-an-aws-rds-mysql-instance-and-connect-to-it-using-python-ea6292df3e1c

In [12]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 2.4 MB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [38]:
import psycopg2
import pymysql
conn = pymysql.connect(
            host='database-1.cluster-crrx2vm7njo6.us-east-1.rds.amazonaws.com',
            user='admin', 
            password = "12345678",
        )

In [39]:
cursor = db.cursor()

In [40]:
cursor

In [41]:
cursor.execute(" SELECT VERSION()")

1

In [42]:
cursor.fetchone()

('8.0.28',)

# Create table

In [46]:
#Lets's create a DB
sql = '''create database kTestDb'''
cursor.execute(sql)
cursor.connection.commit()

In [48]:
#Create a table 
sql = '''SHOW DATABASES;'''
cursor.execute(sql)

5

In [49]:
cursor.fetchall()

(('information_schema',),
 ('kTestDb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

In [52]:
sql = '''USE kTestDb;'''
cursor.execute(sql)

0

In [53]:
cursor.fetchall()

()

In [54]:
#Create a table 
sql = '''create table person ( 
                id int not null auto_increment,
                fname text, 
                lname text, 
                primary key (id) 
         )'''
cursor.execute(sql)

0

In [55]:
#Check if our table is created or not 
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()
#Output of above will be (('person',),)

(('person',),)

In [56]:
#Insert some records in the table 
sql = ''' insert into person(fname, lname) values('%s', '%s')''' % ('XXX', 'YYY')
cursor.execute(sql)
db.commit()

In [57]:
#Lets select the data from above added table
sql = '''select * from person'''
cursor.execute(sql)
cursor.fetchall()
#Output of above will be ((1, 'XXX', 'YYY'),)

((1, 'XXX', 'YYY'),)